/*
 * Copyright (c) 2025 Tenstorrent AI ULC
 * SPDX-License-Identifier: Apache-2.0
 */

#include <mem.h>

storage_partition: &storage {
	reg = <0x500000 DT_SIZE_K(32)>;
};

/* Raise CSM to 256KB */
&csm {
	reg = <0x10000000 0x40000>;
};
