#  Copyright (c) 2025 Tenstorrent AI ULC
#  SPDX-License-Identifier: Apache-2.0

if CLOCK_CONTROL

menu "Clock control drivers"

# zephyr-keep-sorted-start
rsource "Kconfig.emul"
rsource "Kconfig.tt_bh"
# zephyr-keep-sorted-stop

endmenu

endif
