# Copyright (c) 2025 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config CLOCK_CONTROL_EMUL
	bool "Enabled Clock Control Emulation"
	depends on EMUL
	help
		Enable the Clock Control Emulation driver
