#  Copyright (c) 2025 Tenstorrent AI ULC
#  SPDX-License-Identifier: Apache-2.0

if DMA

menu "DMA drivers"

# zephyr-keep-sorted-start
rsource "Kconfig.arc_hs"
rsource "Kconfig.tt_bh"
# zephyr-keep-sorted-stop

endmenu

endif
