/ {
	fwtable: fwtable {
		compatible = "tenstorrent,bh-fwtable";
		status = "okay";
		flash-dev = <&flashcontroller0>;
	};

pll4: pll4
	{
		compatible = "tenstorrent,clock-control-emul";
		status = "okay";
	};
};

&i2c0 {
	smbus_target0: smbus@0a {
		status = "okay";
		compatible = "zephyr,smbus_target";
		reg = <0x0a>;
	};
};
