#  Copyright (c) 2024 Tenstorrent AI ULC
#  SPDX-License-Identifier: Apache-2.0

menu "Device Drivers"

# zephyr-keep-sorted-start
rsource "clock_control/Kconfig"
rsource "dma/Kconfig"
rsource "flash/Kconfig"
rsource "gpio/Kconfig"
rsource "jtag/Kconfig"
rsource "mfd/Kconfig"
rsource "misc/Kconfig"
rsource "pinctrl/Kconfig"
rsource "pwm/Kconfig"
rsource "reset/Kconfig"
rsource "sensor/Kconfig"
rsource "serial/Kconfig"
rsource "smbus/target/Kconfig"
rsource "watchdog/Kconfig"
# zephyr-keep-sorted-stop

endmenu
