/*
 * Copyright (c) 2024 Tenstorrent AI ULC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <st/g0/stm32g0b1v(b-c-e)ix-pinctrl.dtsi>

/* These two I/O have external pull-ups to 1.8V */
&i2c1_scl_pa9 {
	/delete-property/ bias-pull-up;
};

&i2c1_sda_pa10 {
	/delete-property/ bias-pull-up;
};

/*
 * Left chip is local (comes up in non bifercation mode) this is referred to as chip1
 * in the schematics
 * Right chip is remote, and is referred to as chip0
 */

/delete-node/ &jtag0;
/delete-node/ &chip0_arc;

/ {
	model = "Tenstorrent Blackhole p300 board";
	compatible = "tenstorrent,blackhole,p300";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	/* Used to set the ARC_JTAG mux gpio, which is used by the debugger */
	arc_l2_jtag_mux_sel: arc_l2_jtag_mux_enable {
		compatible = "zephyr,gpio-line";
		gpios = <&gpiod 13 GPIO_ACTIVE_LOW>;
	};

	chip1: chip1 {
		compatible = "tenstorrent,bh-chip";

		asic_reset {
			compatible = "zephyr,gpio-line";
			label = "Line to asic reset";
			gpios = <&gpiob 1 GPIO_ACTIVE_LOW>;
		};

		spi_reset {
			compatible = "zephyr,gpio-line";
			label = "Line to SPI reset";
			gpios = <&gpioc 8 GPIO_ACTIVE_LOW>;
		};

		pgood {
			compatible = "zephyr,gpio-line";
			label = "PGOOD signal for asic 1";
			gpios = <&gpioc 5 GPIO_PULL_DOWN>;
		};

		therm_trip {
			compatible = "zephyr,gpio-line";
			label = "Thermal trip indicator";
			gpios = <&gpioc 9 GPIO_ACTIVE_HIGH>;
		};

		jtag {
			compatible = "zephyr,jtag-gpio";
			status = "okay";
			tck-gpios = <&gpiod 9 GPIO_ACTIVE_HIGH>;
			tdi-gpios = <&gpiod 10 GPIO_ACTIVE_HIGH>;
			tdo-gpios = <&gpiod 11 GPIO_ACTIVE_HIGH>;
			tms-gpios = <&gpiod 12 GPIO_ACTIVE_HIGH>;
			port-write-cycles = <2>;
			tck-delay = <1>;
		};

		strapping {
			gpio6 {
				compatible = "zephyr,gpio-line";
				label = "GPIO pin representing strap GPIO6_PCIE_BOOT_INSTANCE";
				gpios = <&gpiox0 4 GPIO_ACTIVE_HIGH>;
			};

			/* Use QUAD DDR SPI mode, GPIO[39:38] = 2 is QUAD mode, GPIO40 is DDR_EN */
			gpio38 {
				compatible = "zephyr,gpio-line";
				label = "GPIO pin representing strap GPIO38_SPI_MODE_0";
				gpios = <&gpiox0 13 GPIO_ACTIVE_LOW>;
			};

			gpio39 {
				compatible = "zephyr,gpio-line";
				label = "GPIO pin representing strap GPIO39_SPI_MODE_1";
				gpios = <&gpiox0 14 GPIO_ACTIVE_HIGH>;
			};

			gpio40 {
				compatible = "zephyr,gpio-line";
				label = "GPIO pin representing strap GPIO40_SPI_DDR_EN";
				gpios = <&gpiox0 15 GPIO_ACTIVE_HIGH>;
			};
		};

		flash = <&chip1_flash>;

		spi_mux {
			compatible = "zephyr,gpio-line";
			label = "Line to spi mux, drive low to enable dmfw -> eeprom";
			gpios = <&gpiob 6 GPIO_ACTIVE_LOW>;
		};

		arc = <&chip1_arc>;
	};

	arc_jtag_mux {
		compatible = "zephyr,gpio-line";
		label = "Line to SYS JTAG mux, drive low to enable dmfw -> eeprom";
		gpios = <&gpiod 13 GPIO_ACTIVE_HIGH>;
	};

	sys_jtag_mux {
		compatible = "zephyr,gpio-line";
		label = "Line to SYS JTAG mux, drive low to enable dmfw -> eeprom";
		gpios = <&gpiod 14 GPIO_ACTIVE_HIGH>;
	};

	chips {
		compatible = "tenstorrent,bh-chips";
		chips = <&chip1 &chip0>;
		primary = <0>;
	};
};

/* Reduce I2C speed to 100kHz */
&i2c1 {
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c3 {
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

/*
 * Chip 1
 * sck: PA6
 * SO PC2
 * SI: PC3
 * RST: pc8
 * CS: pb12
 */
&spi2 {
	pinctrl-0 = <&spi2_nss_pb12 &spi2_sck_pb8
		     &spi2_miso_pc2 &spi2_mosi_pc3>;
	pinctrl-names = "default";
	status = "okay";

	chip1_flash: flash@0 {
		/* base properties */
		compatible = "jedec,spi-nor";
		status = "okay";

		reset-gpios = <&gpioc 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

		/* spi-device properties */
		reg = <0>;
		spi-max-frequency = <7999999>;
		spi-cpol;
		spi-cpha;

		/* jedec,spi-nor properties */
		size = <DT_SIZE_M(512)>; /* Size in bits */

		/* jedec,spi-nor-common properties */
		has-dpd;
		t-enter-dpd = <3000>;
		t-exit-dpd = <30000>;

		jedec-id = [20 bb 20];
	};
};

&gpiob {
	spi-flash-mux1 {
		gpio-hog;
		gpios = <6 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};

/*
 * Chip 0
 * nss: PA4 CS (spi1_nss_pa4)
 * SO PA11 (spi1_miso_pa11)
 * SI PA12 (spi1_mosi_pa12)
 * RST PC7
 * SCK: pb3 (spi1_sck_pb3)
 */
&chip0 {
	compatible = "tenstorrent,bh-chip";

	jtag0: jtag {
		compatible = "zephyr,jtag-gpio";
		status = "okay";
		tck-gpios = <&gpiod 5 GPIO_ACTIVE_HIGH>;
		tdi-gpios = <&gpiod 6 GPIO_ACTIVE_HIGH>;
		tdo-gpios = <&gpiod 7 GPIO_ACTIVE_HIGH>;
		tms-gpios = <&gpiod 8 GPIO_ACTIVE_HIGH>;
		port-write-cycles = <2>;
		tck-delay = <1>;
	};

	/delete-node/ strapping;

	strapping {
		/* Use QUAD DDR SPI mode, GPIO[39:38] = 2 is QUAD mode, GPIO40 is DDR_EN */
		gpio38 {
			compatible = "zephyr,gpio-line";
			label = "GPIO pin representing strap GPIO38_SPI_MODE_0";
			gpios = <&gpiox1 13 GPIO_ACTIVE_LOW>;
		};

		gpio39 {
			compatible = "zephyr,gpio-line";
			label = "GPIO pin representing strap GPIO39_SPI_MODE_1";
			gpios = <&gpiox1 14 GPIO_ACTIVE_HIGH>;
		};

		gpio40 {
			compatible = "zephyr,gpio-line";
			label = "GPIO pin representing strap GPIO40_SPI_DDR_EN";
			gpios = <&gpiox1 15 GPIO_ACTIVE_HIGH>;
		};
	};
};

/*
 * I2C1_SW_EN is F8
 * I2C1 is I2C1
 * I2C1 is Chip0
 */
&smbus1 {
	status = "okay";

	chip0_arc: bh_arc@A {
		compatible = "tenstorrent,bh-arc";
		reg = <0xA>;

		gpios = <&gpiof 8 GPIO_ACTIVE_LOW>;
	};
};

&gpiox0 {
	status = "okay";
};

&gpiox2 {
	status = "disabled";
};

&gpiox3 {
	status = "disabled";
};

&gpiox4 {
	status = "disabled";
};

&gpiox5 {
	status = "disabled";
};

&gpiox6 {
	status = "disabled";
};

&gpiox7 {
	status = "disabled";
};

&gpiox8 {
	status = "disabled";
};

/*
 * I2C0_SW_EN is F9
 * I2C0 is I2C3
 * I2C0 is Chip1
 */
&smbus3 {
	status = "okay";

	chip1_arc: bh_arc@A {
		compatible = "tenstorrent,bh-arc";
		reg = <0xA>;

		gpios = <&gpiof 9 GPIO_ACTIVE_LOW>;
	};
};
