# zephyr-keep-sorted-start
cmsis-pack-manager>=0.6.0
devicetree
grpcio-tools
protobuf
pytest-repeat
west
# zephyr-keep-sorted-stop

# zephyr-keep-sorted-start
pyluwen>=0.7.12
tt-burnin>=0.2.4
tt-flash>=3.4.7
tt-smi>=3.0.23
tt-tools-common>=1.4.31
# zephyr-keep-sorted-stop
