# Copyright (c) 2024 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config TT_BH_ARC
	bool "Blackhole ARC firmware library"
	select FLASH
	select FLASH_PAGE_LAYOUT
	select TT_BOOT_FS
	select NANOPB
	select CRC
	select I2C
	select I2C_TARGET
	select SMBUS_TARGET
	help
	  This option enables the Blackhole ARC firmware library.

if TT_BH_ARC

config TT_BH_ARC_NUM_MSG_CODES
	int "Number of message codes"
	default 197
	help
	  The number of message codes

config TT_SHELL
	bool "Tenstorrent Blackhole shell driver"
	depends on SHELL
	default y
	help
	  Enable the Tenstorrent Shell

config TT_BH_ARC_FAN_CTRL_ALPHA
	int "Fan control alpha value"
	default 50
	help
	  Value of alpha for filtering fan curve input temp

config TT_BH_ARC_FAN_CTRL_GDDR_TEMP
	bool "Use GDDR temp as fan curve input"
	default y
	help
	  Enable to use GDDR temp in fan speed calculation

config TT_BH_ARC_I2C_TIMEOUT
	bool "Time out if I2C transaction exceeds given duration"
	default y
	help
	  Timeout if I2C transaction exceeds set duration. This can be useful
	  to recover from bus stalls. If the TX FIFO for the I2C controller
	  remains full for this timeout, the I2C controller will attempt to
	  recover the bus by sending 16 SCL pulses while holding SDA low.

config TT_BH_ARC_I2C_TIMEOUT_DURATION
	int "Timeout for I2C transactions in milliseconds"
	default 25
	depends on TT_BH_ARC_I2C_TIMEOUT
	help
	  Timeout for I2C transactions in milliseconds. If the TX FIFO for the I2C controller
	  remains full for this timeout, the I2C controller will attempt to recover the bus by
	  sending 16 SCL pulses while holding SDA low.

config TT_SMC_RECOVERY
	bool "build smc recovery image"
	help
	  Enable to build smc recovery image.

config TT_BH_ARC_WDT_FEED_INTERVAL
	int "Feed interval for watchdog (ms)"
	default 250
	help
	  Interval to feed watchdog within firmware

config TT_BH_ARC_SCRATCHPAD_SIZE
	int "Size of scratchpad memory in bytes"
	default 512
	help
	  Size of scratchpad memory in bytes. This is mainly used as a temporary buffer for
	  loading images from SPI flash.

config TT_BH_ARC_DMFW_PING_TIMEOUT
	int "Timeout for DMFW ping in milliseconds"
	default 200
	help
	  Timeout for DMFW ping in milliseconds. If the DMFW does not respond within this time,
	  the ping will be considered failed.

endif
