# Heavily based on upstream Zephyr CI checks, defined here: https://github.com/zephyrproject-rtos/zephyr/blob/main/.github/workflows/compliance.yml
name: Compliance Checks

env:
  checkout_path: tt-zephyr-platforms
  compliance_excludes: "-e BinaryFiles -e KconfigBasicNoModules -e SysbuildKconfigBasic -e LicenseAndCopyrightCheck"
  ZEPHYR_BASE: ${{ github.workspace }}/zephyr
  manifest_group_filter: "+ci,+optional"

on:
  pull_request:
    types:
      - edited
      - opened
      - reopened
      - synchronize

permissions:
  contents: read

jobs:
  check_compliance:
    continue-on-error: true
    runs-on: ubuntu-24.04
    name: Run compliance checks on patch series (PR)
    steps:
      - name: Update PATH for west
        run: |
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Checkout the code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: ${{ env.checkout_path }}
          fetch-depth: 0

      - name: Rebase onto the target branch
        env:
          BASE_REF: ${{ github.base_ref }}
        working-directory: ${{ env.checkout_path }}
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          git remote -v
          # Ensure there's no merge commits in the PR
          [[ "$(git rev-list --merges --count origin/${BASE_REF}..)" = "0" ]] || \
          (echo "::error ::Merge commits not allowed, rebase instead";false)
          rm -fr ".git/rebase-apply"
          rm -fr ".git/rebase-merge"
          git rebase origin/${BASE_REF}
          git clean -f -d
          # debug
          git log  --pretty=oneline | head -n 10

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.12
          cache: pip
          cache-dependency-path: ${{ env.checkout_path }}/scripts/requirements-actions.txt

      - name: Install Python packages
        working-directory: ${{ env.checkout_path }}
        run: |
          pip install -r scripts/requirements-actions.txt --require-hashes

      - name: west setup
        working-directory: ${{ env.checkout_path }}
        run: |
          west init -l .
          if [ "" != "${{ env.manifest_group_filter }}" ]; then
            west config manifest.group-filter -- ${{ env.manifest_group_filter }}
          fi
          west update -o=--depth=1 -n 2>&1 1> west.update.log || west update -o=--depth=1 -n 2>&1 1> west.update2.log
          if [ -f zephyr/patches.yml ]; then
            west -v patch apply
          fi

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "lts/*"
          cache: npm
          check-latest: true
          cache-dependency-path: ${{ env.ZEPHYR_BASE }}/scripts/ci/package-lock.json

      - name: Install Node dependencies
        run: npm --prefix ${{ env.ZEPHYR_BASE }}/scripts/ci ci

      - name: Run Compliance Tests
        id: compliance
        env:
          BASE_REF: ${{ github.base_ref }}
        working-directory: ${{ env.checkout_path }}
        run: |
          # debug
          ls -la
          git log  --pretty=oneline | head -n 10
          # Increase rename limit to allow for large PRs
          git config diff.renameLimit 10000
          excludes="${{ env.compliance_excludes }}"
          # The signed-off-by check for dependabot should be skipped
          if [ "${{ github.actor }}" == "dependabot[bot]" ]; then
            excludes="$excludes -e Identity"
          fi
          # FIXME: why do i need to reinstall packages here?
          pip install dotenv jsonschema
          ${{ env.ZEPHYR_BASE }}/scripts/ci/check_compliance.py --annotate $excludes \
            -c origin/${BASE_REF}..

      - name: upload-results
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        continue-on-error: true
        with:
          name: compliance.xml
          path: ${{ env.checkout_path }}/compliance.xml

      - name: Upload dts linter patch
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        continue-on-error: true
        if: hashFiles('dts_linter.patch') != ''
        with:
          name: dts_linter.patch
          path: dts_linter.patch

      - name: check-warns
        working-directory: ${{ env.checkout_path }}
        run: |
          if [[ ! -s "compliance.xml" ]]; then
            exit 1;
          fi

          warns=("ClangFormat")
          files=($($ZEPHYR_BASE/scripts/ci/check_compliance.py -l))

          for file in "${files[@]}"; do
            f="${file}.txt"
            if [[ -s $f ]]; then
              results=$(cat $f)
              results="${results//'%'/'%25'}"
              results="${results//$'\n'/'%0A'}"
              results="${results//$'\r'/'%0D'}"

              if [[ "${warns[@]}" =~ "${file}" ]]; then
                echo "::warning file=${f}::$results"
              else
                echo "::error file=${f}::$results"
                ERRORS=1
              fi
            fi
          done

          if [ "$ERRORS" = "1" ]; then
            echo "Compliance error, check for error messages in the \"Run Compliance Tests\" step"
            echo "You can run this step locally with the ./scripts/ci/check_compliance.py script."
            exit 1;
          fi
