name: Hardware Smoke Tests

on:
  push:
    branches:
      - main
      - v*-branch
      - collab*
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main
      - v*-branch
      - collab*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  gen-config:
    runs-on: ubuntu-24.04
    outputs:
      matrix-config: ${{ steps.gen-config.outputs.matrix-config }}
    steps:
      - uses: actions/checkout@v4
      - id: gen-config
        shell: bash
        run: |
          # Output the entire compact JSON matrix config on one line
          MATRIX_CONFIG="$(jq -c "." .github/ci_boards.json)"
          echo "matrix-config=$MATRIX_CONFIG" | tee -a $GITHUB_OUTPUT

  hardware-smoke-test:
    needs: [gen-config]
    env:
      ASIC_ID: 0
    strategy:
      fail-fast: false
      matrix:
        config: ${{ fromJson(needs.gen-config.outputs.matrix-config) }}
    runs-on: ${{ matrix.config.runs-on }}
    container:
      image: ghcr.io/tenstorrent/tt-zephyr-platforms/ci-image:v18.12.0-rc1
      volumes:
        - /dev/hugepages-1G:/dev/hugepages-1G
      options: '--device /dev/tenstorrent --device /dev/bus/usb --privileged'
    steps:
      - name: Cleanup State
        if: ${{ always() }}
        run: |
          # Print state of current directory
          ls -la
          # Clean up any files left over from previous steps
          rm -rf *

      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          path: tt-zephyr-platforms

      - name: Prepare Container
        uses: ./tt-zephyr-platforms/.github/workflows/prepare-container
        with:
          app-path: tt-zephyr-platforms

      - name: run-dmc-tests
        run: |
          tt-zephyr-platforms/scripts/ci/run-smoke.sh -t dmc -p $ASIC_ID ${{ matrix.config.board }}

      - name: Upload DMC Smoke Tests
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: DMC Smoke test results (${{ matrix.config.board }})
          include-hidden-files: true
          path: |
            zephyr/twister-dmc-smoke/**/handler.log
            zephyr/twister-dmc-smoke/**/twister_harness.log
            zephyr/twister-dmc-smoke/**/zephyr.dts
            zephyr/twister-dmc-smoke/**/.config
            zephyr/twister-dmc-smoke/**/*.map
            zephyr/twister-dmc-smoke/**/zephyr.elf
            zephyr/twister-dmc-smoke/**/*.lst
            zephyr/twister-dmc-smoke/**/device.log
            zephyr/twister-dmc-smoke/twister.log
            zephyr/twister-dmc-smoke/twister.json

      - name: run-smc-tests
        run: |
          tt-zephyr-platforms/scripts/ci/run-smoke.sh -t smc -p $ASIC_ID ${{ matrix.config.board }}


      - name: Upload SMC Smoke Tests
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: SMC Smoke test results (${{ matrix.config.board }})
          include-hidden-files: true
          path: |
            zephyr/twister-smc-smoke/**/handler.log
            zephyr/twister-smc-smoke/**/twister_harness.log
            zephyr/twister-smc-smoke/**/zephyr.dts
            zephyr/twister-smc-smoke/**/.config
            zephyr/twister-smc-smoke/**/*.map
            zephyr/twister-smc-smoke/**/zephyr.elf
            zephyr/twister-smc-smoke/**/*.lst
            zephyr/twister-smc-smoke/**/device.log
            zephyr/twister-smc-smoke/twister.log
            zephyr/twister-smc-smoke/twister.json

      - name: Print RTT logs
        if: ${{ failure() }}
        working-directory: tt-zephyr-platforms
        run: |
          echo "DMC RTT logs:"
          python3 ./scripts/dmc_rtt.py -n
          echo "SMC RTT logs:"
          python3 ./scripts/smc_console.py --rtt -n
          echo "SMC state dump:"
          python3 ./scripts/dump_smc_state.py --asic-id $ASIC_ID

  smoke-e2e-test:
    needs: [gen-config]
    strategy:
      fail-fast: false
      matrix:
        config: ${{ fromJson(needs.gen-config.outputs.matrix-config) }}
    runs-on: ${{ matrix.config.runs-on }}
    container:
      image: ghcr.io/tenstorrent/tt-zephyr-platforms/ci-image:v18.12.0-rc1
      volumes:
        - /dev/hugepages-1G:/dev/hugepages-1G
      options: '--device /dev/tenstorrent --device /dev/bus/usb --privileged'
    steps:
      - name: Cleanup State
        if: ${{ always() }}
        run: |
          # Print state of current directory
          ls -la
          # Clean up any files left over from previous steps
          rm -rf *

      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          path: tt-zephyr-platforms

      - name: Prepare Container
        uses: ./tt-zephyr-platforms/.github/workflows/prepare-container
        with:
          app-path: tt-zephyr-platforms

      - name: Set ASIC ID
        shell: bash
        run: |
          echo "ASIC_ID=0" >> "$GITHUB_ENV"

      - name: Check signing key
        shell: bash
        run: |
          SIGNATURE_KEY_FILE="$(mktemp)"
          echo "${{ secrets.SIGNATURE_KEY }}" | base64 -d > "$SIGNATURE_KEY_FILE"
          SZ=$(wc -c "$SIGNATURE_KEY_FILE" | awk '{print $1}')
          if [ $SZ -lt 42 ]; then
            echo "No valid signing key found, using temporary key"
            openssl genrsa -out "$SIGNATURE_KEY_FILE" 2048
          fi
          echo "SIGNATURE_KEY_FILE=$SIGNATURE_KEY_FILE" >> "$GITHUB_ENV"

      - name: run-e2e-tests
        run: |
          tt-zephyr-platforms/scripts/ci/run-e2e.sh -k $SIGNATURE_KEY_FILE \
            -p $ASIC_ID ${{ matrix.config.board }}

      - name: Upload E2E Test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: E2E test results (${{ matrix.config.board }})
          include-hidden-files: true
          path: |
            zephyr/twister-*e2e*/**/handler.log
            zephyr/twister-*e2e*/**/twister_harness.log
            zephyr/twister-*e2e*/**/zephyr.dts
            zephyr/twister-*e2e*/**/.config
            zephyr/twister-*e2e*/**/*.map
            zephyr/twister-*e2e*/**/zephyr.elf
            zephyr/twister-*e2e*/**/*.lst
            zephyr/twister-*e2e*/**/device.log
            zephyr/twister-*e2e*/twister.log
            zephyr/twister-*e2e*/twister.json
            zephyr/twister-*e2e*/**/update.fwbundle

      - name: Print RTT logs
        if: ${{ failure() }}
        working-directory: tt-zephyr-platforms
        run: |
          echo "DMC RTT logs:"
          python3 ./scripts/dmc_rtt.py -n
          echo "SMC RTT logs:"
          python3 ./scripts/smc_console.py --rtt -n
          echo "SMC state dump:"
          python3 ./scripts/dump_smc_state.py --asic-id $ASIC_ID
